<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>API - Info</title>
</head>
<body>
    <h1>Welcome to the IMDB API</h1>
    <p>This is a basic API which forms part of a docker contained RESTful API that surfaces 5000 imdb movie titles.</p>
    <h2>Endpoints</h2>
    <p>The services has two endpoints which return data in a JSON format</p>
    <p>/all-movies - Returns all records (5043 in total)</p>
    <p>/search?title=bat - this will return all movies that have `bat` somewhere in the title</p>
</body>
</html>